include /html/tag

mixin card(header,text, tags = [], city, salary)
    .card.swiper-slide
        .card__header
            .card__header__logo
                img(src=`@img/${header.logo}`, alt="logo")
            .card__header__wrapper
                p.card__header__title= header.title
                p.card__header__date= header.date
        .card__content
            p.card__content__text= text
            if(tags.length)
            .card__tags__wrapper
                each tag in tags 
                    +tag(tag.text, tag.color)
        .card__footer
            p.card__city= city 
            p.card__salary= salary